/* babel编译预设
 modules": false不设置任何风格，可选 amd | cmd | false
plugins: 引入了一些插件，transform-runtime插件将es6转换为es5，
transform-vue-jsx  使得当前版本的vuejs支持jsx语法

 */
{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx", "transform-runtime",
    ["import",{
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }]
  ]
}
